:root {
  --color-white: #fff;
  --color-white-600: rgb(255 255 255 / 0.6);

  --color-black: #000;
  --color-black-50: rgb(0 0 0 / 0.05);
  --color-black-100: rgb(0 0 0 / 0.1);
  --color-black-400: rgb(0 0 0 / 0.4);
  --color-black-600: rgb(0 0 0 / 0.6);

  --color-cyan: #e7fafe;

  --color-accent: #ff6363;

  --gradient: linear-gradient(180deg, rgb(231 249 253 / 0) 0%, #e7f9fd 100%);

  --border: 1px solid var(--color-black-100);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Manrope';

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
