.soc1als {
  &__list {
    display: flex;
    column-gap: fluid(40, 30);
  }

  &__item {
    display: flex;
  }

  &__link {
    position: relative;

    &::before {
      @include abs-center;
      @include square(44px);

      content: '';
    }
  }
} 